---
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BinPackArguments: false
BinPackParameters: false
BreakAfterAttributes: Always
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: false
EmptyLineBeforeAccessModifier: Always
IndentWidth: 4
TabWidth: 4
